tr.border_bottom td {
    border-bottom: 2pt solid #e5eCf9;
    text-align: center;
}
tr.border_bottom2 td {
    border-bottom: 2pt solid #e5eCf9;
    text-align: left;
}

tr.topbar td {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

tr.highlight td {
    background-color: lightgreen;
    border-bottom: 2pt solid #e5eCf9;
    text-align: center;
}
tr.highlight2 td {
    background-color: #FFFF00;
    border-bottom: 2pt solid #e5eCf9;
    text-align: center;
}

tr.header td {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2pt solid #e5eCf9;
    text-align: center;
}

tr.total td {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

table.centre {
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #c9e0ed;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    max-width: 650px;
}
table.middle {
    margin-left: auto;
    margin-right: auto;
}
tr.header_sml td {
    font-size: 12px;
    text-align: center;
}
body {
    font-size: 11px;
    font-family: Roboto;
}