<h2>Hi, due the the change in company systems handling the calculation of hours and mileage, it is no longer neccessary to fill your details in via the Portal.</h2>

<h2>Please remember though to fill in a mileage sheet manually to reclaim social support mileage. Thanks!<h2>